.small-resp-img {
  width: 160px;
  max-width: 100%;
  height: auto;
}

.img-pull-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.social-links {
  font-size: 2em;
}

.social-links a:hover {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

section:nth-child(odd) {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.navbar {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  width: none;
}

/* Overrides */

.navbar {
  min-height: 40px;
}

.navbar-nav  {
  margin: 0;
  float: left;
}

.navbar-nav > li {
  float: left;
}

.margin-top-small {
  margin-top: 0.5em;
}

.margin-top-medium {
  margin-top: 1em;
}